.certificate {
  border: 0.593333px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  width: 735px;
  margin: 0 auto;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  padding: 49px 28px 40px;
  background-image: url("./../img/blue.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: right bottom;
  position: relative;

  @include tablet {
    border: size-tablet(0.593333px) solid #FFFFFF;
    box-sizing: border-box;
    border-radius: size-tablet(8px);
    width: size-tablet(735px);
    margin: 0 auto;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    padding: size-tablet(49px) size-tablet(28px) size-tablet(40px);
    background-image: url("./../img/blue.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: right bottom;
  }

  @include mobile {
    border: size-mobile(0.593333px) solid #FFFFFF;
    box-sizing: border-box;
    border-radius: size-mobile(8px);
    width: size-mobile(735px);
    margin: 0 auto;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    padding: size-mobile(49px) size-mobile(28px) size-mobile(40px);
    background-image: url("./../img/blue.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: right bottom;
  }

  @media (min-width: 320px) and (max-width: 416px) {
    border: size-small(0.593333px) solid #FFFFFF;
    border-radius: size-small(8px);
    width: size-small(735px);
    padding: size-small(49px) size-small(28px) size-small(40px);
  }
}

.certificate__textblock {
  width: 30%;
  position: relative;
}

.certificate__header {
  font-size: 36px;
  line-height: 38px;
  margin: 5px 27px;
  font-weight: 500;

  @include tablet {
    font-size: size-tablet(36px);
    line-height: size-tablet(38px);
    margin: size-tablet(5px) size-tablet(27px);
    font-weight: 500;
  }

  @include mobile {
    font-size: size-mobile(36px);
    line-height: size-mobile(38px);
    margin: size-mobile(5px) size-mobile(27px);
    font-weight: 500;
  }

  @media (min-width: 320px) and (max-width: 416px) {
    font-size: size-small(36px);
    line-height: size-small(38px);
    margin: size-small(5px) size-small(27px);
    font-weight: 500;
  }
}

.certificate__question {
  font-size: 12px;
  font-weight: 600;
  margin-left: 28px;
  margin-top: 21px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  position: relative;

  @include tablet {
    font-size: size-tablet(12px) !important;
    font-weight: 600;
    margin-left: size-tablet(28px);
    margin-top: size-tablet(21px);
    margin-bottom: size-tablet(5px);
    text-transform: uppercase;
    letter-spacing: size-tablet(1.8px);
    position: relative;
  }

  @include mobile {
    font-size: size-mobile(12px) !important;
    font-weight: 600;
    margin-left: size-mobile(28px);
    margin-top: size-mobile(21px);
    margin-bottom: size-mobile(5px);
    text-transform: uppercase;
    letter-spacing: size-mobile(1.8px);
    position: relative;
  }

  @media (min-width: 320px) and (max-width: 416px) {
    font-size: size-small(12px) !important;
    font-weight: 600;
    margin-left: size-small(28px);
    margin-top: size-small(21px);
    margin-bottom: size-small(5px);
    text-transform: uppercase;
    letter-spacing: size-small(1.8px);
    position: relative;
  }

  .certificate__dots {
    position: absolute;
    width: 1px;
    height: 34px;
    background-color: $color-blue-bright;
    left: -23px;
    top: 47px;

    @include tablet {
      position: absolute;
      width: size-tablet(1px);
      height: size-tablet(34px);
      background-color: $color-blue-bright;
      left: size-tablet(-23px);
      top: size-tablet(47px);
    }

    @include mobile {
      position: absolute;
      width: size-mobile(1px);
      height: size-mobile(34px);
      background-color: $color-blue-bright;
      left: size-mobile(-23px);
      top: size-mobile(47px);
    }

    @media (min-width: 320px) and (max-width: 416px) {
      position: absolute;
      width: size-small(1px);
      height: size-small(34px);
      background-color: $color-blue-bright;
      left: size-small(-23px);
      top: size-small(47px);
    }

    &::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: $color-blue-bright;
      border-radius: 50%;
      top: -3px;
      right: -3px;

      @include tablet {
        position: absolute;
        width: size-tablet(7px);
        height: size-tablet(7px);
        background-color: $color-blue-bright;
        border-radius: 50%;
        top: size-tablet(-3px);
        right: size-tablet(-3px);
      }

      @include mobile {
        position: absolute;
        width: size-mobile(7px);
        height: size-mobile(7px);
        background-color: $color-blue-bright;
        border-radius: 50%;
        top: size-mobile(-3px);
        right: size-mobile(-3px);
      }

      @media (min-width: 320px) and (max-width: 416px) {
        position: absolute;
        width: size-small(7px);
        height: size-small(7px);
        background-color: $color-blue-bright;
        border-radius: 50%;
        top: size-small(-3px);
        right: size-small(-3px);
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: $color-blue-bright;
      border-radius: 50%;
      bottom: -3px;
      right: -3px;

      @include tablet {
        position: absolute;
        width: size-tablet(7px);
        height: size-tablet(7px);
        background-color: $color-blue-bright;
        border-radius: 50%;
        bottom: size-tablet(-3px);
        right: size-tablet(-3px);
      }

      @include mobile {
        position: absolute;
        width: size-mobile(7px);
        height: size-mobile(7px);
        background-color: $color-blue-bright;
        border-radius: 50%;
        bottom: size-mobile(-3px);
        right: size-mobile(-3px);
      }

      @media (min-width: 320px) and (max-width: 416px) {
        position: absolute;
        width: size-small(7px);
        height: size-small(7px);
        background-color: $color-blue-bright;
        border-radius: 50%;
        bottom: size-small(-3px);
        right: size-small(-3px);
      }
    }
  }
}

.certificate__steps {
  font-size: 16px;
  margin-top: 1px;

  letter-spacing: 0.3px;
  line-height: 22px;
  @include list-reset;
  padding-left: 28px;
  position: relative;

  @include tablet {
    font-size: size-tablet(16px);
    margin-top: size-tablet(1px);

    letter-spacing: size-tablet(0.3px);
    line-height: size-tablet(22px);
    @include list-reset;
    padding-left: size-tablet(28px);
    position: relative;
  }

  @include mobile {
    font-size: size-mobile(16px);
    margin-top: size-mobile(1px);

    letter-spacing: size-mobile(0.3px);
    line-height: size-mobile(22px);
    @include list-reset;
    padding-left: size-mobile(28px);
    position: relative;
  }

  @media (min-width: 320px) and (max-width: 416px) {
    font-size: size-small(16px);
    margin-top: size-small(1px);

    letter-spacing: size-small(0.3px);
    line-height: size-small(22px);
    @include list-reset;
    padding-left: size-small(28px);
    position: relative;
  }

  li {
    margin-bottom: 12px;

    @include tablet {
      margin-bottom: size-tablet(12px);
    }

    @include mobile {
      margin-bottom: size-mobile(12px);
    }

    @media (min-width: 320px) and (max-width: 416px) {
      margin-bottom: size-small(12px);
    }
  }
}

.certificate__card {
  box-shadow: 0 7px 44px rgba(193, 193, 193, 0.4);
  border-radius: 30px;
  position: relative;
  width: 383px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin-right: 34px;
  z-index: 10;
  background-color: $color-white;

  @include tablet {
    box-shadow: 0 size-tablet(7px) size-tablet(44px) rgba(193, 193, 193, 0.4);
    border-radius: size-tablet(30px);
    position: relative;
    width: 56.5%;
    height: size-tablet(250px);
    display: flex;
    flex-direction: column;
    margin-right: size-tablet(34px);
    z-index: 10;
    background-color: $color-white;
  }

  @include mobile {
    box-shadow: 0 size-mobile(7px) size-mobile(44px) rgba(193, 193, 193, 0.4);
    border-radius: size-mobile(30px);
    position: relative;
    width: 56.5%;
    height: size-mobile(250px);
    display: flex;
    flex-direction: column;
    margin-right: size-mobile(34px);
    z-index: 10;
    background-color: $color-white;
  }

  @media (min-width: 320px) and (max-width: 416px) {
    box-shadow: 0 size-small(7px) size-small(44px) rgba(193, 193, 193, 0.4);
    border-radius: size-small(30px);
    position: relative;
    width: 56.5%;
    height: size-small(250px);
    display: flex;
    flex-direction: column;
    margin-right: size-small(34px);
    z-index: 10;
    background-color: $color-white;
  }

  img {
    position: absolute;
    top: 11px;
    left: 10px;
    width: 75px;
    height: 40px;

    @include tablet {
      top: size-tablet(11px);
      left: size-tablet(10px);
      width: size-tablet(75px);
      height: size-tablet(40px);
    }

    @include mobile {
      top: size-mobile(11px);
      left: size-mobile(10px);
      width: size-mobile(75px);
      height: size-mobile(40px);
    }

    @media (min-width: 320px) and (max-width: 416px) {
      top: size-small(11px);
      left: size-small(10px);
      width: size-small(75px);
      height: size-small(40px);
    }
  }

  svg {
    margin: 12px auto 8px;
    width: 53%;

    @include tablet {
      margin: size-tablet(12px) auto size-tablet(8px);
    }

    @include mobile {
      margin: size-mobile(12px) auto size-mobile(8px);
    }

    @media (min-width: 320px) and (max-width: 416px) {
      margin: size-small(12px) auto size-small(8px);
    }
  }

  p {
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    margin: 0 auto;

    @include tablet {
      font-size: size-tablet(18px);
      line-height: size-tablet(28px);
    }

    @include mobile {
      font-size: size-mobile(18px);
      line-height: size-mobile(28px);
    }

    @media (min-width: 320px) and (max-width: 416px) {
      font-size: size-small(18px) !important;
      line-height: size-small(28px) !important;
    }

    &:last-child {
      font-weight: 500;
    }
  }
}

.certificate__turn {
  position: absolute;
  font-size: 10px;
  text-align: center;
  color: rgba(40, 40, 40, 0.4);
  transform: rotate(-90deg);
  top: 155px;
  bottom: 0;
  right: -121px;
  width: fit-content;
  height: fit-content;

  @include tablet {
    font-size: size-tablet(10px);
    right: size-tablet(-121px);
    top: size-tablet(155px);
  }

  @include mobile {
    font-size: size-mobile(10px) !important;
    right: size-mobile(-121px);
    top: size-mobile(155px);
  }

  @media (min-width: 320px) and (max-width: 416px) {
    font-size: size-small(10px) !important;
    right: size-small(-121px);
    top: size-small(155px);
  }
}

.certificate__num {
  background: rgba(214, 215, 216, 0.4);
  border-radius: 8px;
  display: inline-block;
  padding: 0 6px;

  @include tablet {
    border-radius: size-tablet(8px);
    padding: 0 size-tablet(6px);
  }

  @include mobile {
    border-radius: size-mobile(8px);
    padding: 0 size-mobile(6px);
  }

  @media (min-width: 320px) and (max-width: 416px) {
    border-radius: size-small(8px);
    padding: 0 size-small(6px);
  }
}

.certificate__sender {
  position: relative;
  margin-right: 35px;
  transform: translateX(-8px);
  display: inline-block;

  @include tablet {
    margin-right: size-tablet(35px);
    transform: translateX(size-tablet(-8px));
  }

  @include mobile {
    margin-right: size-mobile(35px);
    transform: translateX(size-mobile(-8px));
  }

  @media (min-width: 320px) and (max-width: 416px) {
    margin-right: size-small(35px);
    transform: translateX(size-small(-8px));
  }

  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 10px;
    background-image: url("./../img/card-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 10px;
    right: -35px;

    @include tablet {
      width: size-tablet(28px);
      height: size-tablet(10px);
      top: size-tablet(10px);
      right: size-tablet(-35px);
    }

    @include mobile {
      width: size-mobile(28px);
      height: size-mobile(10px);
      top: size-mobile(10px);
      right: size-mobile(-35px);
    }

    @media (min-width: 320px) and (max-width: 416px) {
      width: size-small(28px);
      height: size-small(10px);
      top: size-small(10px);
      right: size-small(-35px);
    }
  }
}