.congrats {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  padding: 111px 0 133px;

  @include mobile {
    padding: 35% 0 58%;
  }

  svg {
    width: 190px;
    height: 142px;
    margin: 0 auto;

    @include mobile {
      width: 142px;
      height: 106px;
    }
  }

  h1 {
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 17px;

    @include mobile {
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      margin-top: 12px;
      margin-bottom: 0px;
    }
  }

  p {
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;

    @include mobile {
      font-size: 17px;
      line-height: 25px;
      margin-top: 14px;
    }
  }
}