.footer {
  display: flex;
  flex-wrap: nowrap;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  padding: 30px 11.1%;
  box-shadow: 0px -1px 0px #E0E0E0;

  @include tablet {
    padding: 30px 20px;
  }

  a {
    color: $color-blue-text;
  }
}

.footer__block {
  padding-right: 30px;
  &.footer__social {
    width: 20%;
  }

  &.footer__info {
    width: 31.4%;
  }

  &.footer__links {
    width: 29.3%;
    margin-top: 13px;
  }

  &.footer__contacts {
    margin-top: 13px;

    span {
      display: block;
    }

    .footer__genue {
      margin-top: 18px;

      a, span {
        display: inline;
      }
    }
  }
}

.footer__social-list {
  @include list-reset;
  display: flex;
  margin-top: 23px;

  li {
    margin-right: 17px;


    &:last-child {
      margin-right: 0;
    }
  }
}

.footer__links {
  ul {
    @include list-reset;
  }
}

.footer__contacts {
  a {
    display: block;
  }
}

