.header {
  display: flex;
  flex-wrap: nowrap;
  background-color: $color-white;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 36px;
  min-height: 76px;
  padding: 12px 80px;

  @include tablet {
    padding: 12px 40px;
  }

  @include mobile {
    padding: 2px 16px;
    min-height: 48px;
    height: 48px;
    font-size: 14px;
    line-height: 36px;
  }
}

.header__logo {
  height: 52px;
  padding-right: 64px;

  @include mobile {
    height: 32px;
    padding-right: 0;
  }

  img {
    @include mobile {
      width: 61.42px;
      height: 32px;
    }
  }

}

.header__links {
  display: flex;
  ul {
    @include list-reset;
    display: flex;

    @include mobile {
      margin-left: -11px;
    }
  }

  li:first-of-type {
    span:last-child {
      display: none;
    }

    @include mobile {
      span:first-child {
        display: none;
      }

      span:last-child {
        display: block;
      }
    }
  }

  li a {
    padding: 0 10px 0 9px;
    letter-spacing: 0.2px;
    display: block;

    @include mobile {
      padding: 0 16px 0 0px;
      &.header__link--nomobile {
        display: none;
      }
    }
  }
}

.header__login {
  border: none;
  background-color: inherit;
  transition: opacity 0.4s;
  margin-right: 4px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 20px;
    background-image: url(./../../img/lock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: -21px;
  }

  &:hover {
    opacity: 0.6;
  }

  @include tablet {
    span {
      display: none;
    }
  }

  @include mobile {
    padding-right: 0px;
    margin-right: 0px;

    &::before {
      left: -14px;
      top: 0px;
      width: 12px;
    }
  }
}

