include pug/mixins

block variables
- let mainTitle = "Ясно";

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title #{mainTitle} !{title && "| " + title}
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/Gilroy-Bold.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/Gilroy-Medium.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/Gilroy-SemiBold.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/Gilroy-Regular.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )

  body
    header.header
      .header__logo
        img(src="img/logo.png" width="105" height="52" alt="logo")

      nav.header__links
        ul
          li
            a.header__link(href="#")
              span Психотерапевты
              span Терапевты
          li: +link-text( "Блог", "#","header__link" )
          li: +link-text( "Вопросы-ответы", "#","header__link header__link--nomobile" )
      button.header__login Вход <span>и регистрация</span>

    main
      section.congrats
        +svg-plane
        h1 Поздравляем!
        p Мы отправили сертификат вам на почту <span>name@gmail.com</span>

    footer.footer.footer--white
      .footer__social.footer__block
        p 2017 — 2019 Ясно
        ul.footer__social-list
          li
            a( href="#" )
              +svg( "vk", 32, 32 )
          li
            a( href="#" )
              +svg( "facebook", 32, 32 )
          li
            a( href="#" )
              +svg( "instagram", 32, 32 )

      .footer__info.footer__block
        p Важный момент. "Ясно" — это не скорая психологическая помощь. Если у вас серьезные, угрожающие вашей жизни проблемы, которые требуют немедленного решения, вам лучше обратиться в какую-либо
          +link-text( " из этих организаций.", "#", "footer__link" )
        p Регистрация на сайте означает согласие с
          +link-text( " пользовательским соглашением.", "#", "footer__link" )

      .footer__links.footer__block
        ul
          li: +link-text( "Психотерапевты", "#", "footer__link" )
          li: +link-text( "Блог", "#", "footer__link" )
          li: +link-text( "Вопросы-ответы", "#", "footer__link" )
          li Пользовательское соглашение
          li Политика в отношении обработки и защиты персональных данных
          li: +link-text( "Для терапевтов", "#", "footer__link" )
          li: +link-text( "Проверка совместимости", "#", "footer__link" )
          li: +link-text( "Подарить сертификат 💝", "#", "footer__link" )

      .footer__contacts.footer__block
        span Мы на связи:
        span Служба поддержки
        +link-text( "+7 (495) 409-5361", "tel:+74954095361", "footer__link" )
        +link-text( "vse@yasno.live", "email:vse@yasno.live", "footer__link" )
        +link-text( "Бесплатная консультация 👈", "#", "footer__link" )
        .footer__genue
          p Дизайн —
            +link-text( " студия Genue", "https://genue.ru/", "footer__link" )


    block scripts
      script( src="js/script.min.js" )
