include pug/mixins

block variables
- let mainTitle = "Ясно";

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title #{mainTitle} !{title && "| " + title}
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/Gilroy-Bold.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/Gilroy-Medium.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/Gilroy-SemiBold.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/Gilroy-Regular.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )

  body
    header.header
      .header__logo
        img(src="img/logo.png" width="105" height="52" alt="logo")

      nav.header__links
        ul
          li
            a.header__link(href="#")
              span Психотерапевты
              span Терапевты
          li: +link-text( "Блог", "#","header__link" )
          li: +link-text( "Вопросы-ответы", "#","header__link header__link--nomobile" )
      button.header__login Вход <span>и регистрация</span>

    main
      .container
        h1.visually-hidden #{mainTitle}

        section.hero
          .hero__text-block
            p.hero__pre ПОДАРОЧНЫЙ СЕРТИФИКАТ
            h2.hero__header Самый важный подарок
            p.here__text Нам всем иногда нужна помощь, но иногда ее бывает сложно попросить. Позаботьтесь о близком человеке — подарите ему сессию с психотерапевтом.
          .hero__photo
            img(src="img/hero@2x.png" width="774" height="508" alt="hero")

        section.gift
          h2.gift__header Вы можете подарить
          .swiper-container.gift__slider
            .swiper-wrapper
              .swiper-slide.gift__item
                .gift__sessions
                  span.gift__number 1
                  span сессия
                p.gift__item-text
                  span Хороший способ познакомить близкого человека с психотерапией
                p.gift__item-price
                  span 2 850 ₽
                  +link-text( "Подарить", "certificate.html?sessions=1", "button__blue" )

              .swiper-slide.gift__item

                .gift__sessions
                  span.gift__number  3
                  span сессии
                p.gift__item-text
                  span Чуть более углубленное знакомство с психотерапией и самим собой
                p.gift__item-price
                  span 8 400 ₽
                  +link-text( "Подарить", "certificate.html?sessions=3", "button__blue" )

              .swiper-slide.gift__item
                span.gift__choice
                  span.heart
                  | Выбор 53% клиентов
                .gift__sessions
                  span.gift__number  5
                  span сессии
                p.gift__item-text
                  span Возможность увидеть и понять свои внутренние конфликты
                p.gift__item-price
                  span 14 100 ₽
                  +link-text( "Подарить", "certificate.html?sessions=5", "button__blue" )

              .swiper-slide.gift__item
                .gift__sessions
                  span.gift__number  10
                  span сессии
                p.gift__item-text
                  span Возможность лучше понять свои проблемы
                p.gift__item-price
                  span 28 000 ₽
                  +link-text( "Подарить", "certificate.html?sessions=10", "button__blue" )

        section.howitworks
          h2.howitworks__header Как это работает
          .swiper-container.howitworks__slider
            .swiper-wrapper
              .swiper-slide.howitworks__item
                .howitworks__photo
                  +svg( "pig", 191, 143 )
                p.howitworks__text
                  | Выбираете сертификат и оплачиваете подарок

                .dotted

              .swiper-slide.howitworks__item
                .howitworks__photo
                  +svg-notebook
                p.howitworks__text
                  | Получаете на свою почту&nbsp;сертификат с&nbsp;промо-кодом

                .dotted

              .swiper-slide.howitworks__item
                .howitworks__photo
                  +svg-plane
                p.howitworks__text
                  | В нужный момент отправляете сертификат близкому человеку

                .dotted

              .swiper-slide.howitworks__item
                .howitworks__photo
                  +svg-box
                p.howitworks__text
                  | Человек вводит промокод на сайте и начинает психотерапию
          p.howitworks__howitlooks Так будет выглядеть сертификат
          .howitworks__certificate.certificate
            .certificate__textblock
              h3.certificate__header Самый важный подарок
              p.certificate__question Как начать?
                span.certificate__dots
              ul.certificate__steps
                li Зайдите на yasno.live
                li Введите промокод при регистрации
            .certificate__card
              img(src="img/logo.png" width="75" height="40" alt="logo")
              +svg-present
              p Промокод <span class="certificate__num">XXXXXXX</span> / <span>X сессий<span>
              p <span class="certificate__sender">Отправитель</span> <span>Получатель</span>
            p.certificate__turn Зарегестрироваться до 21 мая 2021, использовать до 21 мая 2023

        section.questions
          h2.questions__header Ответы на вопросы
          .questions__accord( id="accordion" )
            h3
              span Каков срок действия сертификата?
            div
              p Сертификат действителен на протяжение одного года после покупки. При этом, активировать его необходимо в течение 6 месяцев после покупки.

            h3
              span Как активировать сертификат?
            div
              p Вашему близкому человеку нужно:
              p 1/ Зайти на сайт <a href="yasno.live">yasno.live</a>
              p 2/ При регистрации ввести уникальный промо-код с подарочного сертификата.
            h3
              span Что произойдет, когда ваш близкий человек зарегистрируется?
            div
              p Вашему близкому человеку будут доступны все возможности сервиса "Ясно":
              ul
                li - проверенные квалифицированные терапевты
                li - содействие в подборе терапевта
                li - 100% конфиденциальные видео-консультации
            h3
              span Можно ли вернуть сертификат?
            div
              p К сожалению, сертификат не подлежит возврату.
            h3
              span Можно ли передаривать сертификат?
            div
              p Только до регистрации. После активации промо-кода передавать подаренные сессии нельзя.
            h3
              span Суммируется ли сертфикат с другими бонусами и промо-кодами?
            div
              p Другие бонусы, акции и промо-коды на подаренные сессии не распространяются.

          +link-text( "Выбрать сертификат", "#", "button__blue questions__link" )


    footer.footer
      .footer__social.footer__block
        p 2017 — 2019 Ясно
        ul.footer__social-list
          li
            a( href="#" )
              +svg( "vk", 32, 32 )
          li
            a( href="#" )
              +svg( "facebook", 32, 32 )
          li
            a( href="#" )
              +svg( "instagram", 32, 32 )

      .footer__info.footer__block
        p Важный момент. "Ясно" — это не скорая психологическая помощь. Если у вас серьезные, угрожающие вашей жизни проблемы, которые требуют немедленного решения, вам лучше обратиться в какую-либо
          +link-text( " из этих организаций.", "#", "footer__link" )
        p Регистрация на сайте означает согласие с
          +link-text( " пользовательским соглашением.", "#", "footer__link" )

      .footer__links.footer__block
        ul
          li: +link-text( "Психотерапевты", "#", "footer__link" )
          li: +link-text( "Блог", "#", "footer__link" )
          li: +link-text( "Вопросы-ответы", "#", "footer__link" )
          li Пользовательское соглашение
          li Политика в отношении обработки и защиты персональных данных
          li: +link-text( "Для терапевтов", "#", "footer__link" )
          li: +link-text( "Проверка совместимости", "#", "footer__link" )
          li: +link-text( "Подарить сертификат 💝", "#", "footer__link" )

      .footer__contacts.footer__block
        span Мы на связи:
        span Служба поддержки
        +link-text( "+7 (495) 409-5361", "tel:+74954095361", "footer__link" )
        +link-text( "vse@yasno.live", "email:vse@yasno.live", "footer__link" )
        +link-text( "Бесплатная консультация 👈", "#", "footer__link" )
        .footer__genue
          p Дизайн —
            +link-text( " студия Genue", "https://genue.ru/", "footer__link" )


    block scripts
      script( src="js/script.min.js" )
