@mixin desktop-only {
  @media (min-width: $width-tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $width-tablet - 1px) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin text-main {
  font-size: 21px;
  line-height: 31px;
}

@mixin font-face($name, $filename, $weight, $style: normal) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src:
      url("../fonts/" + $filename + ".woff2") format("woff2"),
      url("../fonts/" + $filename + ".woff") format("woff");
  }
}

@mixin section-header {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $color-black-font;
}