$width-desktop: 992px;
$width-tablet: 768px;
$width-mobile: 416px;
$width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-family: "Gilroy", "Arial", sans-serif;
$font-base: 21px;

$color-white: #ffffff;
$color-black-font: #282828;
$color-grey-font: #A2ADB8;
$color-grey: #1F1F1F;
$color-grey-light: #EDEDF9;
$color-beige: #F7E3CA;
$color-blue-font: #F0F4F7;
$color-blue-bright: #43A7F6;
$color-blue-text: #1EB3FC;

